/* You can add global styles to this file, and also import other style files */
html {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

@media all and (max-width: 700px) {
	html {
		font-size: 15px;
		line-height: 24px;
	}
}

body {
    background-color: black;
    color: lightgrey;
    width: 100vw;
    height: 100vh;
}

a, input, select {
	color: lightgrey;
	width: 5rem;
	height: 2rem;
}

a, select {
	display: flex;
	flex-direction: inherit;
	justify-content: inherit;
	align-items: inherit;
	text-decoration: none;
}

a {
	border-style: solid;
}

@media all and (min-width: 700px) {
	body {
		width: 50vw;
	}

	input, select {
		width: 10rem;
	}
}

.bordered {
	border-style: solid;
	border-width: 3px;
	border-color: lightgrey;
	border-radius: 1rem;
	margin-bottom: 0.2rem;
	margin-top: 0.4rem;
}

.main-container {
	display: flex;
	flex-direction: column;
}

.component-container {
	display: flex;
	flex-direction: column;
}

.data-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 1rem 1rem 1rem 1rem;
}

.data-container strong {
	font-weight: bold;
	font-size: 20px;
}

@media all and (max-width: 700px) {
	a {
		margin: 0.1rem;
	}
}

.hidden {
	visibility: hidden;
}
